.
.footer {
	text-align: center ;
	padding: auto;
	background-color: rgb(203,204,207);
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.main-content {
	display: flex ;
	flex-direction: row;
	padding: 20px;
	width: 80%;

	
	
}

.card {
	width: 50%;
	height: 400px;
	align-items: center;
	overflow: auto;
}
.card-img-top{
	height: 200px;
	width: 150px;
}
.container-fluid{
	display: flex;
	flex-direction: column;
}

.cart-container{
	
	margin-top: 100px;
	border : solid 1px black;
	padding: 5px 8px;
	display: flex;
	flex-direction: column;
	background-color: rgb(200,200,200);
	width:340px;
	overflow: scroll;
}
.product-row-in-cart p {
	width: 200px;
}
.product-counter{
	width: 120px;
	display: flex;
	justify-content: space-between;
}
.count {
	display: flex;
	align-items: center;
}
.items-count-In-Cart{
	border-radius: 50%;
	background-color: yellow;
	height: 35px;
	width: 35px;
	padding-left: 10px;
	padding-top: 5px;
}

.product-data{
	display: flex;
	justify-content: space-between;
}
.remove-product-button{
	margin-left: 25px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}
.products-list{
	display: flex;
	flex-direction: column;
}
.products-list h1 {
	padding-top: 20px;

}