#root {
	display: flex;
	flex-direction:column;
	height: 100%;
}
.footer {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
	width: 100%;
	height: 150px;
	background-color: rgb(200,200,200);
	margin-top: 30px;
	margin-bottom: 0px;
	padding: 10px;

}

.links {
	list-style-type: none;
}

.main-content {
	display: flex ;
	flex-direction: row;
	padding: 20px;
	width: 80%;
}

.card {
	width: 40%;
	height: 400px;
	align-items: center;
	overflow: auto;
	margin : 0;
	margin-left: 30px;
}
.card-img-top{
	height: 200px;
	width: 150px;
	padding-top: 10px;
}
.container-fluid{
	display: flex;
	flex-direction: column;
}

.cart-container{
	
	margin-top: 25px;
	border : solid 1px black;
	border-radius: 7px;
	padding: 5px 8px;
	display: flex;
	flex-direction: column;
	background-color: rgb(200,200,200);
	width:400px;
	overflow: scroll;
	max-height: 600px;
	margin-left: 25px;
	flex-grow: 0 ;
}
.cart-container h4 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.product-row-in-cart p {
	width: 200px;
}
.product-counter{
	width: 120px;
	display: flex;
	justify-content: space-between;
}
.count {
	display: flex;
	align-items: center;
}
.items-count-In-Cart{
	border-radius: 50%;
	background-color: yellow;
	height: 35px;
	width: 35px;
	padding-left: 10px;
	padding-top: 5px;

}

.product-data{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.remove-product-button{
	margin-top: 20px;
	margin-left: 60px;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

}
.products-list{
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}
.products-list h1 {
	padding-top: 20px;

}
.cart-header {
	padding-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-content {
	display: flex;
	flex-direction:row;
	align-items: flex-start;
}

.products-page{
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.products {
	justify-content: space-around;
}
.select-products{
	height: 70px;
	align-items: center;
}

.cart-table {
	margin: 10px 15px;
	width: 90%;

}

.quantity-update{
	display: flex;

}
.items-quantity {
	display: table-cell;
	width: 30px;
	text-align: center;
	background-color: rgb(200,200,200) ;
	vertical-align: middle;
}

td {
	vertical-align: middle; 
}

.empty-cart-text, {
	width: 50%;
	font-weight: bold;
	font-family: 'Alconica',Trebuchet MS;

}
.cart-intro {
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
	
}

.material-icons-two-tone{
	margin-left: 5px;
	margin-top: 5px;
}

.cart-table {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 30px;
}
.total-cart {
	font-family: 'Alconica',Trebuchet MS;
	background-color: rgb(138,20,224);
	width: 30%;
	text-align: center;
	color: white;
}

.single-product-page {

	width:90%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-left: 30px;
	padding-top: 30px;
	margin-top: 20px;
}

.card-top-image {
	width: 350px;
	height: 350px;
	margin-right: 20px;
}

.card-central-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product-price {
	font-weight: bold;
	margin-bottom: 20px;
}
.redirect-home {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	align-items: flex-start;
}
.back-flesh {
	margin-right: 10px;
}



.login-form-submit,.register-button{
	margin-top: 15px;
}

.buttons-section {
	display: flex;
	justify-content: space-between;
}
.register-form, .login{
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	margin-top :30px;
	height: 100%;
	border :solid black 2px;
	padding : 20px 15px ;
	border-radius: 5px;
}
.instructions {
	height: 80px;
	text-align: left;
	background-color: grey;
	border: black solid 1px ;
	padding-left: 10px;
	color: white;
	border-radius: 4px;
	margin-top: 10px;

}
.offscreen {
	display: none;
}
.register-form h2 {
	margin-bottom: 30px;
}

.empty-cart {
	margin : auto ;
}