.
.footer {
	text-align: center ;
	padding: auto;
	background-color: rgb(203,204,207);
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.main-content {
	display: flex ;
	flex-direction: row;
	padding: 30px;
	
	
}

.card {
	width: 50%;
	height: 400px;
	align-items: center;
}
.card-img-top{
	height: 200px;
	width: 150px;
}
.container-fluid{
	display: flex;
	flex-direction: column;
}

.cart-container{
	position: fixed;
	margin-top: 100px;
	border : solid 1px black;
	padding: 5px 8px;
	display: flex;
	flex-direction: column;
	background-color: rgb(200,200,200);
}
.product-row-in-cart p {
	width: 200px;
}
.product-counter{
	width: 120px;
	display: flex;
	justify-content: space-between;
}